.background {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/images/46461.jpg);
    background-color: white;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
}

.container-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    padding: 50px;
}

.background .equation-container {
    position: absolute;
    background-image: url(/images/Wood_Paper.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: white;
    background-size: 100%;
    width: 300px;
    height: 300px;
}

.background .equation-content {
    position: relative;
    top: 35%;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #388EDD;
}

.background .btn-answer {
    background-image: url(/images/Wood.png);
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 150px;
    border-color: transparent;
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #388EDD;
}

.background .btn-answer:hover{
    background-image: url(/images/Wood2.png);
}

/*===== Attributions =====*/

/* Background Image */
.background .attribution {
    color: white;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

/* UI elements */
.background .attribution-1 {
    color: white;
    position: absolute;
    bottom: 2%;
    right: 5%;
}

/*===== Progress Bar =====*/

.background .progress {
    margin: 25px auto;
    padding: 2px;
    width: 100%;
    max-width: 300px;
    background-color: white;
    border: 5px solid #388EDD;
    border-radius: 20px;
    height: 25px;
    overflow: hidden;
}

.background .progress .progress_bar {
    height: 100%;
    width: 5%;
    border-radius: 15px;
    background: linear-gradient(#FC9634, #FC782C, #bc441c);
    transition: 0.3s;
}

@keyframes fill-bar {
    from {width: 0%;}
    to {width: 100%;}
}

/*===== Home Page =====*/

.background .title {
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

.background .login-container {
    position: relative;
    background-image: url(/images/Login_v2.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: white;
    background-size: 100%;
    width: 300px;
    height: 450px;
}

#username-input {
    position: relative;
    left: 43px;
    top: 158px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    width: 211px;
    height: 39px;
}

#password-input {
    position: relative;
    left: 43px;
    top: 214px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    width: 211px;
    height: 39px;
}

#remember-me {
    position: relative;
    left: 48px;
    top: 230px;
    opacity: 0;
}

#remember-me:checked {
    opacity: .9;
}

#login-button {
    position: relative;
    left: 110px;
    top: 232px;
    width: 74px;
    height: 55px;
    opacity: 0;
}

input:focus {
    outline: none;
    box-shadow: 1px 1px 10px deepskyblue;
}

.background .game_description-container {
    position: relative;
    background-image: url(/images/Wood2.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: white;
    background-size: 100%;
    width: 500px;
    height: 250px;
}
.create_account-container {
    position: relative;
    background-image: url(/images/Wood_paper.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: white;
    background-size: 600px 800px;
    width: 800px;
    height: 800px;


}

.background .game_description-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 450px;
    color: white;
}

.background .btn-sign-up {
    position: relative;
    background-image: linear-gradient(#FC9634, #FC782C, #bc441c);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 8px 8px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

}

.background .btn-sign-up:hover {
    background-image: linear-gradient(#bc441c, #FC782C, #FC9634);
}

/*===== Game Mode Selection Page =====*/

.background .btn-game_mode {
    background-image: url(/images/Wood.png);
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 350px;
    height: 120px;
    border-color: transparent;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 32px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #388EDD;
}

.background .btn-game_mode:hover{
    background-image: url(/images/Wood2.png);
}

.background .game_mode-container {
    position: relative;
    background-image: url(/images/Wood2.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: white;
    background-size: 100%;
    width: 500px;
    height: 250px;
}

.background .game_mode-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 450px;
    color: white;
}

/*===== Alligators =====*/

.alligator-homepage {
    position: absolute;
    background-size: contain;
    height: 229px;
    transform: scaleX(-1);
    left: 27%;
}

.alligator-casual {
    position: absolute;
    background-size: contain;
    height: 229px;
    left: 22%;
    top: 43%;
}

/*create account error*/
.error-create-account {
    font-size: 10px;
    color: #fe6c6c;
    display: none;
}

input:invalid[focused='true'] ~ .error-create-account{
    display: block;
}

.create_account-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 450px;
    color: white;
}

.btn-create-account{
    position: relative;
    background-image: linear-gradient(#FC9634, #FC782C, #bc441c);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 8px 8px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

}

.btn-create-account:hover {
    background-image: linear-gradient(#bc441c, #FC782C, #FC9634);
}

/*===== Timed Mode Page =====*/
.score {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

/*===== Profile Page =====*/

.background .title-profile {
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

.background .change-password-container {
    position: relative;
    background-image: url(/images/Wood_Paper.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: white;
    background-size: 300px 550px;
    width: 300px;
    height: 550px;
}

.background .change-password-content-title {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    text-decoration-line: underline;
    text-decoration-color: black;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 250px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.background .change-password-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 250px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.background .password-container {
    position: relative;
    top: 50%;
    left: 50%;
    background-image: url(/images/Wood2.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 50px;
    transform: translateX(-50%);
    border: none;
    color: white;
    width: 200px;
    height: 50px;
}

#currentPassword-input {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-62%, 0%);
    background-color: transparent; 
    border-color: transparent;
    border: none;
    color: white;
    width: 200px;
    height: 45px;
    -webkit-text-stroke-width: 0;
}

#newPassword-input {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-62%, 0%);
    background-color: transparent; 
    border-color: transparent;
    border: none;
    color: white;
    width: 200px;
    height: 45px;
    -webkit-text-stroke-width: 0;
}

#reenteredPassword-input {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-62%, 0%);
    background-color: transparent; 
    border-color: transparent;
    border: none;
    color: white;
    width: 200px;
    height: 45px;
    -webkit-text-stroke-width: 0;
}

.background .btn-ok {
    position: relative;
    top: 50%;
    left: 50%;
    background-image: url(/images/OK.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    transform: translate(-200%, -170%);
    border: none;
    width: 60px;
    height: 60px;
}


.background .review-questions-container {
    position: relative;
    background-image: url(/images/Wood_Paper2.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: white;
    background-size: 300px 550px;
    width: 300px;
    height: 550px;
}

.background .review-questions-content-title {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    text-decoration-line: underline;
    text-decoration-color: black;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 250px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.background .review-questions-content {
    position: relative;
    left: 50%;
    transform: translateX(-55%);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#review-scroll { 
    height: 380px; 
    width: 250px; 
    overflow: auto; 
    scrollbar-width: thin;
    scrollbar-color: white #388EDD;
}

.background .greeting-container {
    position: relative;
    background-image: url(/images/Gator_3.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: white;
    background-size: 100%;
    width: 350px;
    height: 300px;
}

.background .greeting-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 300px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

.background .stats-container {
    position: relative;
    background-image: url(/images/Wood_Paper.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: white;
    background-size: 350px 200px;
    width: 350px;
    height: 200px;
}

.background .stats-content-currentLevel {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -380%);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 250px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.background .stats-content-topScore {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -300%);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 250px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.star-icon {
    position: relative;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-275%, -150%);
    width: 50px;
    height: 50px;
}

.lightning-icon {
    position: relative;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-375%, 0%);
    width: 50px;
    height: 50px;
}

